// ember-component-css
@import "pod-styles";

.video {
  min-height: 715px;
  min-width: 100%;
  opacity: .9;
  z-index: 1;
  transition: opacity 1500ms linear;
}
.video_wrapper {
  background: #000;
  width: 100%;
  height: 715px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

.transparent_overlay_box {
  background: rgba(0,0,0,.5);
  border-radius: 2px;
  padding: 20px;

  //color: #ccc;
}
.intro_card{
  min-height: 670px;
}

.logo a{
  text-decoration: none;
}