// ember-component-css
@import "pod-styles";

body {
  background-color: #e8e8e8;
}

a:hover {
  text-decoration: none;
  color: #4bf;
}

.block {
  background-color: white;
  margin: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.video {
  min-height: 715px;
  min-width: 100%;
  opacity: .9;
  z-index: 1;
  transition: opacity 1500ms linear;
}

.video_wrapper {
  background: #000;
  width: 100%;
  height: 715px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

.transparent_overlay_box {
  background: rgba(0, 0, 0, .5);
  border-radius: 2px;
  padding: 20px;

  //color: #ccc;
}

.intro_card {
  min-height: 670px;
}

.logo a {
  text-decoration: none;
}

.item_desc {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //background-color: rgba(0,0,0,.5);
  padding: 30px 4% 0;
}

.item_desc.all_cat_grid {
  //padding: 18px 4% 0;
  background-color: #222222;
  margin: 7px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &:hover {
    background-color: #495c68;
  }
}

.category_cell_title_link {
  color: white;
  text-decoration: none;
}

.category_sprite {
  background: url('/assets/icons/sprite_category-icons.png') no-repeat;
  display: inline-block;
  color: #fff;
  margin: auto;
}

.category_sprite.category_sprite_art {
  width: 54px;
  height: 45px;
  background-position: -816px -471px;
}

.category_sprite.category_sprite_experimental {
  width: 38px;
  height: 45px;
  background-position: -98px -183px;
}

.category_sprite.category_sprite_instructionals {
  width: 33px;
  height: 45px;
  background-position: -343px -758px;
}

.category_sprite.category_sprite_music {
  width: 44px;
  height: 45px;
  background-position: -337px -328px;
}

.category_sprite.category_sprite_narrative {
  width: 30px;
  height: 45px;
  background-position: -828px -327px;
}

.category_sprite.category_sprite_personal {
  width: 43px;
  height: 45px;
  background-position: -822px -760px;
}

.category_sprite.category_sprite_sports {
  width: 43px;
  height: 45px;
  background-position: -96px -471px;
}

.category_sprite.category_sprite_travel {
  width: 41px;
  height: 45px;
  background-position: -97px -617px;
}

.full_hero {
  position: relative;
  min-height: 560px;
  //padding: 61px 0;
  //margin-bottom: 40px;
}
.video_card_bg.video_card_bg_img {
  background-position: center center;
  background-repeat: no-repeat;
}

.video_card_bg {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-size: cover;
}

.video_card_bg.video_card_bg_gradient {
  background: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(109, 109, 109, .5));
}
.blur {
  -webkit-filter: url(#blur);
  filter: url(#blur);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-transition: 1s -webkit-filter linear;
  transition: 1s filter linear;
}
.blur:hover {
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
  -webkit-filter: blur(0px);
  filter: blur(0px);
}