<div class="row">
    <div class="col-md-12 block" style="height: 460px;">
        {{{video.source}}}
    </div>
</div>
<div class="row">
    <div class="col-md-12 block">
        <div class="title">
            {{#if video.title}}
                <h2>{{video.title}}</h2>
            {{/if}}
        </div>
    </div>
</div>


