<div class="row">
    <div class="col-md-12 block" style="height: 460px; padding: 0;">
        {{{video.source}}}
    </div>
</div>
<div class="row">
    <div class="col-md-12 block" style="margin-top: -10px; padding-bottom: 10px;">
        <div class="title">
            {{#if video.title}}
                <h2>{{video.title}}</h2>
            {{/if}}
        </div>
        <div id="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus" data-counter="">111</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 block">
        <div id="vk_comments"></div>
    </div>
</div>
