<div class="row" id="endless_block">
    {{yield}}
    {{#each videos as |video|}}
        <div class="col-md-3" style="padding-right: 0;">
            {{video-preview video=video}}
        </div>
    {{/each}}
    {{#if loading}}
    <div class="col-md-3" style="padding-right: 0;">
        <div class="loading"></div>
    </div>
    {{/if}}

</div>