& {
  border-radius: 6px;
  background-clip: padding-box;
  display: inline-block;
  height: 200px;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
  //padding-right: 0px;
  //padding: 10px;
  img {
    height: auto;
    width: 100%;
  }
  .item-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 47px;
    padding: 6px 10px 7px;
    font-size: 1em;
    line-height: 1.3;
    color: #fff;
    background-color: rgba(0,0,0,.45);
    .item-title-inner {
      display: inline-block;
      height: 35px;
      overflow: hidden;
    }
  }
}
.video_title{
  height: 40px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}