{{#link-to 'video' video.id}}
    <img src="{{video-image video.source}}">

    {{#if video.title}}
        <div class="item-title">
            <div class="item-title-inner">
                {{video.title}}
            </div>
        </div>
    {{/if}}
{{/link-to}}
