{{outlet}}

{{#if model.category}}
    <h2>Категории / {{model.category.name}}
        {{#if (can 'add videos')}}
            {{link-to 'Добавить видео' 'add' (query-params category=model.category.id) class="btn btn-primary"}}
        {{/if}}
    </h2>
{{/if}}
{{#endless-scrolling-blocks object_type = 'video' param_key = 'category' param_value = model.category.id}}
    {{#each model.videos as |video|}}
        <div class="col-md-3" style="padding-right: 0;">
            {{video-preview video=video}}
        </div>
    {{/each}}

{{/endless-scrolling-blocks }}
