<div class="col-md-8">
    {{video-content video = model.video}}
    {{link-to 'Редактировать' 'video.edit' model.video.id class="btn btn-primary"}}
    {{outlet}}
</div>
<div class="col-md-3 block">
    <!--<div class="block">-->
        {{videos-recommended-bar category_id = model.video.category.id}}
    <!--</div>-->
</div>
<br>

